<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <button *ngIf="user?.role == 'ADMINISTRATEUR'" class="btn btn-outline-success float-right" type="button"
        data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
        Formulaire ajouté une borne
      </button>
    </div>
    <div class="col-xl-12 col-lg-12">

      <div class="collapse" id="collapseForm">
        <div class="mb-3 card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="offerForm">

            <input [ngClass]="
                  offerForm.get('client').errors ? 'is-invalid' : 'is-valid'
                " class="form-control mt-2" placeholder="client" name="client" type="text" formControlName="client" />
            <div class="invalid-feedback">
              <div *ngIf="offerForm.get('client').errors">
                <span *ngIf="offerForm.get('client').errors.required">Le champ "client" doit être rempli</span>
              </div>
            </div>

            <input [ngClass]="
                  offerForm.get('remise').errors ? 'is-invalid' : 'is-valid'
                " class="form-control mt-2" placeholder="remise" name="remise" type="text" formControlName="remise" />
            <div class="invalid-feedback">
              <div *ngIf="offerForm.get('remise').errors">
                <span *ngIf="offerForm.get('remise').errors.required">Le champ "remise" doit être rempli</span>
              </div>
            </div>


            <input [ngClass]="
                  offerForm.get('debutOffre').errors ? 'is-invalid' : 'is-valid'
                " class="form-control mt-2" placeholder="debutOffre" name="debutOffre" type="date"
              formControlName="debutOffre" />
            <div class="invalid-feedback">
              <div *ngIf="offerForm.get('debutOffre').errors">
                <span *ngIf="offerForm.get('debutOffre').errors.required">Le champ "début d'offre" doit être
                  rempli</span>
              </div>
            </div>

            <input [ngClass]="
                  offerForm.get('couponsRestants').errors
                    ? 'is-invalid'
                    : 'is-valid'
                " class="form-control mt-2" placeholder="couponsRestants" name="couponsRestants" type="number"
              formControlName="couponsRestants" />
            <div class="invalid-feedback">
              <div *ngIf="offerForm.get('couponsRestants').errors">
                <span *ngIf="offerForm.get('couponsRestants').errors.required">Le champ "coupons restants" doit être
                  rempli</span>
              </div>
            </div>

            <button class="btn btn-success btn-block mt-3 mb-1" type="submit" [disabled]="!offerForm.valid">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
