<div *ngIf="user" class="container-fluid mb-5">

    <app-create-borne></app-create-borne>

    <div class="col-12 m-3">
        <div class="alert alert-danger m-4 text-center"
            *ngIf="bornes &&(bornes | filterBorne: filterNumeroSerie:filterVille:filterBac1:filterBac2:filterTotal:filterDate).length === 0">
            <span *ngIf="filterNumeroSerie || filterVille || filterBac1 || filterBac2 || filterTotal || filterDate">Il n
                y a pas de
                Borne</span>
        </div>
    </div>
    <div class="col-12">
        <h1 class="text-center">Liste de Bornes</h1>
    </div>

    <div class="row">

        <div class="col-xl-12 col-lg-12">
            <div class="mb-4 p-3">
                <div class="row">
                    <div class="table-responsive" *ngIf="user?.role == 'ADMINISTRATEUR'">
                        <table class="table table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Numéro de série</th>
                                    <th scope="col">Ville</th>
                                    <th scope="col">Cannette</th>
                                    <th scope="col">Plastique</th>
                                    <th scope="col">Coupons restants</th>
                                    <th scope="col">Date d'installation</th>
                                    <th scope="col">Problèmes</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <input class="mb-3 py-2 form-control float-left" type="search"
                                            placeholder="Numero serie" [(ngModel)]='filterNumeroSerie'>
                                    </th>
                                    <th>
                                        <input class="mb-3 py-2 form-control float-left" type="search"
                                            placeholder="Ville" [(ngModel)]='filterVille'>
                                    </th>
                                    <th>
                                        <input class="mb-3 py-2 form-control float-left" type="search"
                                            placeholder="Cannette" [(ngModel)]='filterBac1'>
                                    </th>
                                    <th>
                                        <input class="mb-3 py-2 form-control float-left" type="search"
                                            placeholder="Plastique" [(ngModel)]='filterBac2'>
                                    </th>
                                    <th>
                                        <input class="mb-3 py-2 form-control float-left" type="search"
                                            placeholder="Coupon restant" [(ngModel)]='filterTotal'>
                                    </th>
                                    <th>
                                        <input class="mb-3 py-2 form-control float-left" type="search"
                                            placeholder="Date" [(ngModel)]='filterDate'>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tbody>
                        </table>
                        <app-card-offer *ngFor="let borne of bornes">
                            <div class="title">{{borne.numeroSerie}}</div>
                            <div class="p">{{borne.address.ville}}</div>
                        </app-card-offer>
                    </div>
                    <ng-container
                        *ngFor="let borne of bornes | filterBorne: filterNumeroSerie:filterVille:filterBac1:filterBac2:filterTotal:filterDate">
                        <tr>
                            <th scope="row">{{borne.numeroSerie}}</th>
                            <td>{{borne.address.ville}}</td>
                            <td>
                                <ngb-progressbar type="success"
                                    [value]="[calculatePercentage(borne.cannette.utilise, borne.cannette.total)]"
                                    [striped]="true" [animated]="true"><i>
                                        {{calculatePercentage(borne.cannette.utilise, borne.cannette.total)}}
                                        % </i>
                                </ngb-progressbar>
                            </td>
                            <td>
                                <ngb-progressbar type="success"
                                    [value]="[calculatePercentage(borne.plastique.utilise, borne.plastique.total)]"
                                    [striped]="true" [animated]="true"><i>
                                        {{calculatePercentage(borne.plastique.utilise, borne.plastique.total)}}
                                        %</i>
                                </ngb-progressbar>
                            </td>
                            <td>
                                <ngb-progressbar type="success"
                                    [value]="calculatePercentage(borne.coupon.imprimer, borne.coupon.restant)"
                                    [striped]="true" [animated]="true"><i> {{borne.coupon.imprimer}} /
                                        {{borne.coupon.restant}}</i>
                                </ngb-progressbar>
                            </td>
                            <td>
                                {{borne.dateInstallation| date:'d/M/y'}}
                            </td>
                            <td *ngIf="borne.problemesTechniques == false; else elseBlock"><i
                                    class="fas fa-check colorValidate"></i></td>
                            <ng-template #elseBlock>
                                <td><i class="fas fa-times colorError"></i></td>
                            </ng-template>
                            <td>
                                <button type="button" [routerLink]="['/borne', borne._id ]"
                                    class="btn btn-outline-primary">Details
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </div>
                <div class="row">
                    <div class="table-responsive" *ngIf="user?.role == 'CLIENT'">
                        <table class="table table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Numéro de série</th>
                                    <th scope="col">Ville</th>
                                    <th scope="col">Cannette</th>
                                    <th scope="col">Plastique</th>
                                    <th scope="col">Coupons restants</th>
                                    <th scope="col">Date d'installation</th>
                                    <th scope="col">Problèmes</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <input class="mb-3 py-2 form-control float-left" type="search"
                                            placeholder="Numero serie" [(ngModel)]='filterNumeroSerie'>
                                    </th>
                                    <th>
                                        <input class="mb-3 py-2 form-control float-left" type="search"
                                            placeholder="Ville" [(ngModel)]='filterVille'>
                                    </th>
                                    <th>
                                        <input class="mb-3 py-2 form-control float-left" type="search"
                                            placeholder="Cannette" [(ngModel)]='filterBac1'>
                                    </th>
                                    <th>
                                        <input class="mb-3 py-2 form-control float-left" type="search"
                                            placeholder="Plastique" [(ngModel)]='filterBac2'>
                                    </th>
                                    <th>
                                        <input class="mb-3 py-2 form-control float-left" type="search"
                                            placeholder="Coupon restant" [(ngModel)]='filterTotal'>
                                    </th>
                                    <th>
                                        <input class="mb-3 py-2 form-control float-left" type="search"
                                            placeholder="Date" [(ngModel)]='filterDate'>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <ng-container
                                    *ngFor="let borne of user.clients.bornes | filterBorne: filterNumeroSerie:filterVille:filterBac1:filterBac2:filterTotal:filterDate">
                                    <tr>
                                        <th scope="row">{{borne.numeroSerie}}</th>
                                        <td>{{borne.address.ville}}</td>
                                        <td>
                                            <ngb-progressbar type="success"
                                                [value]="[calculatePercentage(borne.cannette.utilise, borne.cannette.total)]"
                                                [striped]="true" [animated]="true"><i>
                                                    {{calculatePercentage(borne.cannette.utilise, borne.cannette.total)}}
                                                    % </i>
                                            </ngb-progressbar>
                                        </td>
                                        <td>
                                            <ngb-progressbar type="success"
                                                [value]="[calculatePercentage(borne.plastique.utilise, borne.plastique.total)]"
                                                [striped]="true" [animated]="true"><i>
                                                    {{calculatePercentage(borne.plastique.utilise, borne.plastique.total)}}
                                                    %</i>
                                            </ngb-progressbar>
                                        </td>
                                        <td>
                                            <ngb-progressbar type="success"
                                                [value]="calculatePercentage(borne.coupon.imprimer, borne.coupon.restant)"
                                                [striped]="true" [animated]="true"><i> {{borne.coupon.imprimer}}
                                                    /
                                                    {{borne.coupon.restant}}</i>
                                            </ngb-progressbar>
                                        </td>
                                        <td>
                                            {{borne.dateInstallation| date:'d/M/y'}}
                                        </td>
                                        <td *ngIf="borne.problemesTechniques == false; else elseBlock"><i
                                                class="fas fa-check colorValidate"></i></td>
                                        <ng-template #elseBlock>
                                            <td><i class="fas fa-times colorError"></i></td>
                                        </ng-template>
                                        <td>
                                            <button type="button" [routerLink]="['/borne', borne._id ]"
                                                class="btn btn-outline-primary">Details
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>