.colorValidate { color: #22811d}
.colorError { color: red}

table {
    text-align: center;
}

.btn-info {
  background-color: #236863;
  border: 1px solid #236863 !important;
}

button {
  box-shadow: 4px 4px 10px black;
}