<div *ngIf="user" class="container-fluid mb-5">
  
  <div class="col-12">
    <h1 class="text-center"><span *ngIf="user?.role == 'ADMINISTRATEUR'">Liste des bornes</span><span
        *ngIf="user?.role == 'CLIENT'">Liste de vos bornes</span></h1>
    <app-create-borne (selectBorne)="getCreateBorne($event)"></app-create-borne>
    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="mb-4 p-3">
          <div class="row">
            <div *ngIf="user?.role == 'ADMINISTRATEUR' else elseBlock" class="table-responsive">
              <div class="col-12 mt-3">
                <div class="alert alert-danger mt-4 text-center"
                  *ngIf="bornes &&(bornes | filterBorne: filterNumeroSerie:filterVille:filterPlastique:filterMetal:filterTotal).length === 0">
                  <span *ngIf="filterNumeroSerie || filterVille || filterPlastique || filterMetal || filterTotal">Il
                    n'y a pas de
                    bornes</span>
                </div>
              </div>
              <table class="table table-striped">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Numéro de série</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Métal</th>
                    <th scope="col">Plastique</th>
                    <th scope="col">Rouleau d'impression</th>
                    <th scope="col">Date d'installation</th>
                    <th scope="col">Problèmes</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>
                      <input class="mb-3 py-2 form-control float-left" type="search" placeholder="Numero serie"
                        [(ngModel)]='filterNumeroSerie'>
                    </th>
                    <th>
                      <input class="mb-3 py-2 form-control float-left" type="search" placeholder="Ville"
                        [(ngModel)]='filterVille'>
                    </th>
                    <th>
                      <input class="mb-3 py-2 form-control float-left" type="search" placeholder="Métal"
                        [(ngModel)]='filterMetal'>
                    </th>
                    <th>
                      <input class="mb-3 py-2 form-control float-left" type="search" placeholder="Plastique"
                        [(ngModel)]='filterPlastique'>
                    </th>
                    <th>
                      <input class="mb-3 py-2 form-control float-left" type="search" placeholder="Rouleau d'impression"
                        [(ngModel)]='filterTotal'>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <ng-container
                    *ngFor="let borne of bornes | filterBorne: filterNumeroSerie:filterVille:filterPlastique:filterMetal:filterTotal">
                    <tr>
                      <th scope="row">{{borne.numeroSerie}}</th>
                      <td>{{borne.address.ville}}</td>
                      <td>
                        <ngb-progressbar [type]="color(borne.metal.taux)" [value]="borne.metal.taux" [striped]="true"
                          [animated]="true" showValue=true>
                        </ngb-progressbar>
                      </td>
                      <td>
                        <ngb-progressbar [type]="color(borne.plastique.taux)" [value]="borne.plastique.taux"
                          [striped]="true" [animated]="true" showValue=true>
                        </ngb-progressbar>
                      </td>
                      <td>
                        <ngb-progressbar [type]="color(borne.coupon.imprimer)"
                          [value]="borne.coupon.imprimer" [striped]="true" [animated]="true" showValue=true>
                        </ngb-progressbar>
                      </td>
                      <td>
                        {{borne.dateInstallation| date:'d/M/y'}}
                      </td>
                      <td *ngIf="borne.problemesTechniques == false; else elseBlock"><i
                          class="fas fa-check colorValidate"></i></td>
                      <ng-template #elseBlock>
                        <td><i class="fas fa-times colorError"></i></td>
                      </ng-template>
                      <td>
                        <button type="button" [routerLink]="['/borne', borne._id ]" class="btn btn-info">Détails
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>


            <ng-template #elseBlock>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr class="text-center">
                      <th scope="col">Numéro de série</th>
                      <th scope="col">Ville</th>
                      <th scope="col">Métal</th>
                      <th scope="col">Plastique</th>
                      <th scope="col">Rouleau d'impression</th>
                      <th scope="col">Date d'installation</th>
                      <th scope="col">Problèmes</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>
                        <input class="mb-3 py-2 form-control float-left" type="search" placeholder="Numero serie"
                          [(ngModel)]='filterNumeroSerie'>
                      </th>
                      <th>
                        <input class="mb-3 py-2 form-control float-left" type="search" placeholder="Ville"
                          [(ngModel)]='filterVille'>
                      </th>
                      <th>
                        <input class="mb-3 py-2 form-control float-left" type="search" placeholder="Métal"
                          [(ngModel)]='filterMetal'>
                      </th>
                      <th>
                        <input class="mb-3 py-2 form-control float-left" type="search" placeholder="Plastique"
                          [(ngModel)]='filterPlastique'>
                      </th>
                      <th>
                        <input class="mb-3 py-2 form-control float-left" type="search" placeholder="Rouleau d'impression"
                          [(ngModel)]='filterTotal'>
                      </th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                    <ng-container
                      *ngFor="let borne of clientsByBorne | filterBorne: filterNumeroSerie:filterVille:filterMetal:filterPlastique:filterTotal">
                      <tr>
                        <th scope="row">{{borne.numeroSerie}}</th>
                        <td>{{borne.address.ville}}</td>
                        <td>
                          <ngb-progressbar [type]="color(borne.metal.taux)" [value]="borne.metal.taux" [striped]="true"
                            [animated]="true" showValue=true>
                          </ngb-progressbar>
                        </td>
                        <td>
                          <ngb-progressbar [type]="color(borne.plastique.taux)" [value]="borne.plastique.taux"
                            [striped]="true" [animated]="true" showValue=true>
                          </ngb-progressbar>
                        </td>
                        <td>
                          <ngb-progressbar [type]="color(borne.coupon.imprimer)" [value]="borne.coupon.imprimer"
                            [striped]="true" [animated]="true" showValue=true>
                          </ngb-progressbar>
                        </td>
                        <td>
                          {{borne.dateInstallation| date:'d/M/y'}}
                        </td>
                        <td *ngIf="borne.problemesTechniques == false; else elseBlock"><i
                            class="fas fa-check colorValidate"></i></td>
                        <ng-template #elseBlock>
                          <td><i class="fas fa-times colorError"></i></td>
                        </ng-template>
                        <td>
                          <button type="button" [routerLink]="['/borne', borne._id ]"
                            class="btn btn-info">Détails
                          </button>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
