.colorValidate { color: #22811d}
.colorError { color: red}

table {
    text-align: center;
}

.btn-info {
  background-color: #2b71a0;
  border: 1px solid black !important;
}

button {
  box-shadow: 3px 3px 3px black;
}