<div class="container mt-3 mb-4">

    <h1 class="text-center">Client</h1>

    <div class="row">
        <div class="col-6">
            <h3 class="text-center">Plastique</h3>
            <canvas baseChart [data]="plastiqueData" [labels]="plastiqueLabels" [chartType]="plastiqueType"></canvas>
        </div>
        <div class="col-6">
            <h3 class="text-center">Cannette</h3>
            <canvas baseChart [data]="cannetteData" [labels]="cannetteLabels" [chartType]="cannetteType"></canvas>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 col-xl-12 mt-4">
            <div id="myChart">


                <div class="row">
                    <div class="col-md-4 col-xl-4 mt-4">
                        <div class="card">
                            <button type="button" class="btn btn-outline-primary">Jour</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4 mt-4">
                        <div class="card">
                            <button type="button" class="btn btn-outline-primary">Semaine</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4 mt-4">
                        <div class="card">
                            <button type="button" class="btn btn-outline-primary">Mois</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12">
                <div class="mb-4 p-3">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Ville</th>
                                        <th scope="col">Coupon</th>
                                        <th scope="col">Utilise</th>
                                        <th scope="col">Restant</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container>
                                        <tr>
                                            <th scope="row">Borne1</th>
                                            <td>Mame</td>
                                            <td>1500</td>
                                            <td>500</td>
                                            <td>1000</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <h1 class="text-center">Offre</h1>
            <div class="row">
                <div class="col-md-4 col-xl-4 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.nestle-cereals.com/fr/sites/g/files/qirczx246/f/styles/mobile_320x180/public/brand_logo/fr_chocapic_752x525px_logo_01.png?itok=ZpKlRten" class="card-img-top" alt="chocapic">
                        <div class="card-body">
                            <h5 class="card-title">Chocapic</h5>
                            <p class="card-text">Chocapic désigne une variété de céréales de petit-déjeuner chocolatées à base de blé complet, distribuées par Nestlé dès 1984.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xl-4 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img src="http://thomasthink.com/img/le-gars-de-haribo.jpg" class="card-img-top" alt="Haribo">
                        <div class="card-body">
                            <h5 class="card-title">Haribo</h5>
                            <p class="card-text">Haribo est une marque de confiserie allemande et le nom d'une multinationale fondée en 1920 par le confiseur allemand Hans Riegel.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xl-4 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img src="http://image.jeuxvideo.com/medias-md/155603/1556033066-9969-card.jpg" class="card-img-top" alt="square enix">
                        <div class="card-body">
                            <h5 class="card-title">Square Enix</h5>
                            <p class="card-text">Square Enix Co., Ltd est une société japonaise qui développe et édite des jeux vidéo et des mangas..</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>