img{
    max-height: 200px;
    min-height: 200px;
}
.card-body{
    max-height: 300px;
    min-height: 300px;
}

.container {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.input-danger{
  border-color: red;
}
