<div class="row">
  <div class="col-md-4 col-xl-4 mt-4 p-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center">
          <ng-content select=".title"></ng-content>
        </h5>
        <div class="progress-label">
          <ng-content select=".progressLabel"></ng-content>
        </div>
          <ng-content select=".progresse"></ng-content>
        <div class="card-btn float-right">
          <ng-content select=".cardBtn"></ng-content>
        </div>
        <p class="card-text">
          <ng-content select=".p"></ng-content>
        </p>
      </div>
    </div>
  </div>
</div>
