.form-group {
    margin-bottom: 0px;
}

::placeholder {
    text-align: center;
}

input, textarea{
    margin-top: 10px;
}


.btn-info {
  background-color: #236863 !important;
  border: 1px solid #236863 !important;
}