<div *ngIf="borne" class="container mt-3 mb-4">

    <h1 class="text-center">Borne {{borne.numeroSerie}}</h1>

    <div class="row">
        <div class="col-6">
            <h3 class="text-center">Plastique</h3>
            <canvas baseChart [data]="[borne.plastique.total, borne.plastique.utilise]" [labels]="plastiqueLabels"
                [chartType]="plastiqueType"></canvas>
        </div>
        <div class="col-6">
            <h3 class="text-center">Cannette</h3>
            <canvas baseChart [data]="[borne.cannette.total, borne.cannette.utilise]" [labels]="cannetteLabels"
                [chartType]="cannetteType"></canvas>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 col-xl-12 mt-4">

                <ngb-tabset>
                    <ngb-tab title="Jour">
                        <ng-template ngbTabContent>
                            <div class="col-md-12 col-xl-12 mt-4">
                                <canvas baseChart
                                [data]="[[borne.jour.cannetteTotal, borne.jour.cannetteUtilise], [borne.jour.plastiqueTotal, borne.jour.plastiqueUtilise], [borne.jour.couponTotal, borne.jour.couponUtilise]]" [labels]="jourLabels"
                                    [chartType]="jourType"></canvas>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Semaine">
                        <ng-template ngbTabContent>
                            <div class="col-md-12 col-xl-12 mt-4">
                                <canvas baseChart [data]="[[borne.semaine.cannetteTotal, borne.semaine.cannetteUtilise], [borne.semaine.plastiqueTotal, borne.semaine.plastiqueUtilise], [borne.semaine.couponTotal, borne.semaine.couponUtilise]]" [labels]="semaineLabels"
                                    [chartType]="semaineType"></canvas>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Mois">

                        <ng-template ngbTabContent>
                            <div class="col-md-12 col-xl-12 mt-4">
                                <canvas baseChart [data]="[[borne.mois.cannetteTotal, borne.mois.cannetteUtilise], [borne.mois.plastiqueTotal, borne.mois.plastiqueUtilise], [borne.mois.couponTotal, borne.mois.couponUtilise]]" [labels]="moisLabels"
                                    [chartType]="moisType"></canvas>
                            </div>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>

                <div class="row">
                    <div class="col-md-12 col-xl-12 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title text-center">{{borne.address.ville}}</h2>
                                <p>{{borne.dateInstallation| date:'d/M/y'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="text-center">Offre</h1>
                <div class="row">
                    <div class="col-md-4 col-xl-4 mt-4">
                        <div class="card" style="width: 18rem;">
                            <img src="https://www.nestle-cereals.com/fr/sites/g/files/qirczx246/f/styles/mobile_320x180/public/brand_logo/fr_chocapic_752x525px_logo_01.png?itok=ZpKlRten"
                                class="card-img-top" alt="chocapic">
                            <div class="card-body">
                                <h5 class="card-title">Chocapic</h5>
                                <p class="card-text">Chocapic désigne une variété de céréales de petit-déjeuner
                                    chocolatées à base de blé complet, distribuées par Nestlé dès 1984.</p>
                                <div class=" ml-3 mr-3 mb-3">
                                    <ngb-progressbar type="success" [value]="50" [striped]="true" [animated]="true">
                                        <i>50%</i>
                                    </ngb-progressbar>
                                </div>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-4 mt-4">
                        <div class="card" style="width: 18rem;">
                            <img src="http://thomasthink.com/img/le-gars-de-haribo.jpg" class="card-img-top"
                                alt="Haribo">
                            <div class="card-body">
                                <h5 class="card-title">Haribo</h5>
                                <p class="card-text">Haribo est une marque de confiserie allemande et le nom d'une
                                    multinationale fondée en 1920 par le confiseur allemand Hans Riegel.</p>
                                <div class=" ml-3 mr-3 mb-3">
                                    <ngb-progressbar type="success" [value]="50" [striped]="true" [animated]="true">
                                        <i>50%</i>
                                    </ngb-progressbar>
                                </div>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-4 mt-4">
                        <div class="card" style="width: 18rem;">
                            <img src="http://image.jeuxvideo.com/medias-md/155603/1556033066-9969-card.jpg"
                                class="card-img-top" alt="square enix">
                            <div class="card-body">
                                <h5 class="card-title">Square Enix</h5>
                                <p class="card-text">Square Enix Co., Ltd est une société japonaise qui développe et
                                    édite des jeux vidéo et des mangas..</p>
                                <div class=" ml-3 mr-3 mb-3">
                                    <ngb-progressbar type="success" [value]="50" [striped]="true" [animated]="true">
                                        <i>50%</i>
                                    </ngb-progressbar>
                                </div>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6 col-xl-6">
                        <div class="card">
                            <p class="text-center p-3">Coupon</p>
                            <div class=" ml-3 mr-3 mb-3">
                                <p>
                                    <ngb-progressbar type="success" [value]=[borne.coupon.restant] [striped]="true"
                                        [animated]="true"><i> {{borne.coupon.restant}}% </i>
                                    </ngb-progressbar>
                                </p>
                                <p>
                                    <ngb-progressbar type="success" [value]=[borne.coupon.imprimer] [striped]="true"
                                        [animated]="true"><i> {{borne.coupon.imprimer}} </i>
                                    </ngb-progressbar>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="card">
                            <p class="text-center p-3">Rouleau</p>
                            <div class=" ml-3 mr-3 mb-3">
                                <p>
                                    <ngb-progressbar type="info" [value]="50" [striped]="true" [animated]="true">
                                        <i>50%</i>
                                    </ngb-progressbar>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="user?.role == 'ADMINISTRATEUR'">
                    <button class="btn btn-info btn-block mt-4" [routerLink]="['/borne', borne._id, 'edit']">Modifier la
                        borne
                    </button>
                    <button class="btn btn-danger btn-block mt-4" (click)="deleteBorne(borne._id)">Suppression de la
                        Borne
                    </button>
                </ng-container>


        </div>


    </div>
</div>
