img{
    max-height: 200px;
    min-height: 200px;
}

.baseChart{
    border: 20px solid black;
}
.container {
  max-width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}
.input-danger{
  border-color: red;
}

.btn-success {
  background-color: #7C9E79 !important;
  border: 1px solid #7C9E79 !important;
}
.button {
  text-align: right;
}

.btn-danger {
  background-color: #A7383D !important;
  border: 1px solid #A7383D !important;
}