<div *ngIf="borne" class="container mt-3 mb-4">
  <h1 class="text-center">Borne {{borne.numeroSerie}}</h1>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <button *ngIf="user?.role == 'ADMINISTRATEUR'" class="btn btn-outline-success float-right" type="button"
        data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
        Associer un client
      </button>
    </div>

  </div>

  <div class="collapse mt-3" id="collapseForm">
    <form (ngSubmit)="onSubmit()" [formGroup]="Form">
      <div class="form-group">
        <select formControlName="client" class="form-control">
          <option *ngFor="let client of client" name="client" value="{{client._id}}">{{client.name}}</option>
        </select>
        <button class="btn btn-success btn-block mt-4 mb-1" type="submit">Associer un client
        </button>

      </div>
    </form>
  </div>

  <div class="col-md-12 col-xl-12 mt-4">
    <div class="row">
      <div class="col-12 col-sm-4">
        <h3 class="text-center">Bac plastique :</h3>
        <canvas baseChart [data]="[borne.plastique.taux, (100 - borne.plastique.taux)]" [labels]="plastiqueLabels"
          [chartType]="plastiqueType"></canvas>
      </div>
      <div class="col-12 col-sm-4">
        <h3 class="text-center">Bac métal :</h3>
        <canvas baseChart [data]="[borne.metal.taux, (100 - borne.metal.taux)]" [labels]="metalLabels"
          [chartType]="metalType"></canvas>
      </div>
      <div class="col-12 col-sm-4">
        <h3 class="text-center">Rouleau d'impression :</h3>
        <canvas baseChart [data]="[borne.coupon.imprimer, borne.coupon.restant]" [labels]="rouleauLabels"
          [chartType]="rouleauType"></canvas>
      </div>
    </div>
    <h1 class="text-center mb-3 mt-3">Tableaux</h1>
    <div class="col-12">
      <div class="button col-6">
        <button class="btn btn-outline-primary mr-2" (click)="toggleDays()">Jours</button>
        <button class="btn btn-outline-primary" (click)="toggleWeeks()">Semaines</button>
        <button class="btn btn-outline-primary ml-2" (click)="toggleMonths()">Mois</button>
      </div>
      <div style="display: block" *ngIf="days">
        <canvas baseChart [datasets]="barChartDataDays" [labels]="barChartLabelsDays" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType"></canvas>
      </div>
      <div style="display: block" *ngIf="weeks">
        <canvas baseChart [datasets]="barChartDataWeeks" [labels]="barChartLabelsWeeks" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType"></canvas>
      </div>
      <div style="display: block" *ngIf="months">
        <canvas baseChart [datasets]="barChartDataMonths" [labels]="barChartLabelsMonths" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType"></canvas>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xl-12 mt-4">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">{{borne.address.numero}} {{borne.address.rue}}, {{borne.address.codePostal}}
            {{borne.address.ville}}</h2>
          <h4>Numéro de série : {{borne.numeroSerie}}</h4>
          <h4>Date d'installation : {{borne.dateInstallation| date:'d/M/y'}}</h4>
          <h4>Total de coupons imprimés : {{borne.total.coupons}}</h4>
          <h4>Total recyclé : {{borne.total.recycle}}</h4>
          <h4>Total remisé : {{borne.total.remise}}</h4>
          <h4>Détails supplémentaire : {{borne.details}}</h4>
        </div>
      </div>
    </div>
  </div>
  <h1 class="text-center">Offres</h1>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <button *ngIf="user?.role == 'ADMINISTRATEUR'" class="btn btn-outline-success float-right mt-4" type="button"
        data-toggle="collapse" data-target="#collapseAssoOfferForm" aria-expanded="false"
        aria-controls="collapseAssoOfferForm">
        Associer une offre
      </button>
    </div>
  </div>

  <div class="collapse mt-3" id="collapseAssoOfferForm">
    <form (ngSubmit)="assoOffer()" [formGroup]="assoOfferForm">
      <div class="form-group">
        <select formControlName="offer" class="form-control">
          <option *ngFor="let offer of offers" name="offer" value="{{offer._id}}">{{offer.client}}
          </option>
        </select>
        <button class="btn btn-success btn-block mt-4 mb-1" type="submit">Associer
        </button>
      </div>
    </form>
  </div>
  <div class="row">
    <app-card-offer *ngFor="let offre of borne.offers">
      <div class="title">{{offre.client}}
      </div>

      <p class="nb-coupon text-center">Coupons total : {{offre.coupon.total}}</p>
      <p class="coupon-edit text-center">Coupons imprimés: {{offre.coupon.imprime}}</p>

      <div class="cardBtn">
        <div class="row">
          <div class="col-md-12 mt-4">
            <button class="btn btn-info btn-block" [routerLink]="['/offer', offre._id]">Détails</button>
          </div>
          <div class="col-md-12 mt-1">
            <button class="btn btn-danger btn-block" (click)="dissoOffer(offre._id)"> Dissocier l'offre</button>
          </div>
        </div>
      </div>
      <div class="p"></div>
    </app-card-offer>

  </div>
  <ng-container *ngIf="user?.role == 'ADMINISTRATEUR'">
    <button class="btn btn-info btn-block mt-4" [routerLink]="['/borne', borne._id, 'edit']">Modifier la
      borne
    </button>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h3 class="modal-title" id="modal-basic-title">Supprimer la borne</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="text-danger mt-2 mb-4">{{borne._id}}</h6>

        <form (ngSubmit)="deleteBorneModal(); modal.close()" [formGroup]="FormDelete">
          <div class="form-group">
            <div class="input-group">
              <input formControlName="borne" class="form-control input-danger" placeholder="Id de la borne"
                name="borne">
            </div>
          </div>
          <button type="submit" class="btn btn-danger btn-block">Supprimer</button>
        </form>
      </div>
    </ng-template>

    <button class="btn btn-block btn-danger" (click)="open(content)">Supprimer la borne</button>

  </ng-container>