.login-title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 30px;
  font-weight: bold;
}

.login-form {
  margin-top: 25px;
}

img {
  margin-left: 30%;
}

.btn-info {
  background-color: #2b71a0;
  border: 1px solid black !important;
}

button {
  box-shadow: 3px 3px 3px black;
}

button {
  box-shadow: 4px 4px 10px black;
}

input[type=email] {
  background-color:  #38813a;
  border: none;
  border-bottom: 2px solid black;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  color: #ECF0F5;
}

input[type=password] {
  background-color:  #38813a;
  border: none;
  border-bottom: 2px solid black;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  color: #ECF0F5;
}

.form-group {
  margin-bottom: 40px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #0DB8DE;
  outline: 0;
  color: #ECF0F5;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
}

.form-control-label {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.btn-outline-primary {
  border-color: #0DB8DE;
  color: #0DB8DE;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
  background-color: #0DB8DE;
  right: 0px;
}

.login-btm {
  float: left;
}

.login-button {
  padding-right: 0px;
  text-align: right;
  margin-bottom: 25px;
}

.login-text {
  color: #A2A4A4;
}

.loginbttm {
  padding: 0px;
}
