a {
    color: black;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 100%;
}

.button {
  text-align: right;  
}

.btn-danger {
  background-color: #A7383D !important;
  border: 1px solid black !important;
}

.btn-info {
  background-color: #2b71a0;
  border: 1px solid black !important;
}

button {
  box-shadow: 3px 3px 3px black;
}