<div class="container mt-3 mb-4" *ngIf="profile?.role == 'ADMINISTRATEUR'; else elseBlockClient">

	<h1 class="text-center">Administrateur</h1>

	<div class="row">
		<div class="col-12 col-sm-6">
			<h3 class="text-center">Total recyclé</h3>
			<canvas baseChart [data]="doughnutData" [colors]="doughnutChartColors" [labels]="labels" [chartType]="type"></canvas>
		</div>
		<div class="col-12 col-sm-6 mt-2">
			<div class="button col-12 text-center mb-3">
				<button class="btn btn-info mr-2"(click)="toggleDays()">Jours</button>
				<button class="btn btn-info"(click)="toggleWeeks()">Semaines</button>
				<button class="btn btn-info ml-2" (click)="toggleMonths()">Mois</button>
			</div>
			<div style="display: block" *ngIf="days">
				<canvas baseChart [datasets]="barChartDataDays" [labels]="barChartLabelsDays" [options]="barChartOptions"
					[legend]="barChartLegend" [chartType]="barChartType"></canvas>
			</div>
			<div style="display: block" *ngIf="weeks">
				<canvas baseChart [datasets]="barChartDataWeeks" [labels]="barChartLabelsWeeks" [options]="barChartOptions"
					[legend]="barChartLegend" [chartType]="barChartType"></canvas>
			</div>
			<div style="display: block" *ngIf="months">
				<canvas baseChart [datasets]="barChartDataMonths" [labels]="barChartLabelsMonths" [options]="barChartOptions"
					[legend]="barChartLegend" [chartType]="barChartType"></canvas>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-12 col-sm-6">
			<div class="card">
				<h3 class="text-center p-3">Remplissage bac métal</h3>
				<div class=" ml-3 mr-3 mb-3" *ngIf="topBornesMetal">
					<ng-container *ngFor="let borne of topBornesMetal; let i=index">
						<div *ngIf="i<5">
							<p>
								<a routerLink="/borne/{{borne._id}}"> {{borne._id}} :
									<ngb-progressbar [type]="color(borne.metal.taux)" showValue="true"
										[value]="borne.metal.taux" [striped]="true" [animated]="true"
										routerLink="/borne/{{borne._id}}">
									</ngb-progressbar>
								</a>
							</p>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<div class="card">
				<h3 class="text-center p-3">Remplissage bac plastique</h3>
				<div class=" ml-3 mr-3 mb-3" *ngIf="topBornesPlastique">
					<ng-container *ngFor="let borne of topBornesPlastique; let i=index">
						<div *ngIf="i<5">
							<p>
								<a routerLink="/borne/{{borne._id}}"> {{borne._id}} :
									<ngb-progressbar [type]="color(borne.plastique.taux)" showValue="true"
										[value]="borne.plastique.taux" [striped]="true" [animated]="true"
										routerLink="/borne/{{borne._id}}">
									</ngb-progressbar>
								</a>
							</p>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-6 col-xl-6">
			<div class="card">
				<h3 class="text-center p-3">Offres proche de l'expiration</h3>
				<div class=" ml-3 mr-3 mb-3" *ngIf="topOffres">
					<ng-container *ngFor="let offre of topOffres; let i=index">
						<div *ngIf="i<5">
							<p>
								<a routerLink="/offer/{{offre._id}}"> {{offre._id}} :
									<ngb-progressbar [type]="color(tauxOffre(offre.coupon.imprime, offre.coupon.total))"
										showValue="true" [value]="tauxOffre(offre.coupon.imprime, offre.coupon.total)"
										[striped]="true" [animated]="true" routerLink="/offer/{{offre._id}}">
									</ngb-progressbar>
								</a>
							</p>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-6">
			<div class="card">
				<h3 class="text-center p-3">Rouleaux d'impression</h3>
				<div class=" ml-3 mr-3 mb-3" *ngIf="topBornesRouleaux">
					<ng-container *ngFor="let borne of topBornesRouleaux; let i=index">
						<div *ngIf="i<5">
							<p>
								<a routerLink="/borne/{{borne._id}}"> {{borne._id}} :
									<ngb-progressbar [type]="color(tauxRouleau(borne.coupon.restant))" showValue="true"
										[value]="tauxRouleau(borne.coupon.restant)" [striped]="true" [animated]="true"
										routerLink="/borne/{{borne._id}}">
									</ngb-progressbar>
								</a>
							</p>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #elseBlockClient>

  <div class="container mt-3 mb-4">

    <h1 class="text-center">Client</h1>

    <div class="row">
      <div class="col-12 col-sm-6">
        <h3 class="text-center">Total recyclé</h3>
        <canvas baseChart [data]="doughnutData" [colors]="doughnutChartColors" [labels]="labels" [chartType]="type"></canvas>
      </div>
      <div class="col-12 col-sm-6 mt-2">
        <div class="button col-12 text-center mb-3">
          <button class="btn btn-info mr-2"(click)="toggleDays()">Jours</button>
          <button class="btn btn-info"(click)="toggleWeeks()">Semaines</button>
          <button class="btn btn-info ml-2" (click)="toggleMonths()">Mois</button>
        </div>
        <div style="display: block" *ngIf="days">
          <canvas baseChart [datasets]="barChartDataDays" [labels]="barChartLabelsDays" [options]="barChartOptions"
                  [legend]="barChartLegend" [chartType]="barChartType"></canvas>
        </div>
        <div style="display: block" *ngIf="weeks">
          <canvas baseChart [datasets]="barChartDataWeeks" [labels]="barChartLabelsWeeks" [options]="barChartOptions"
                  [legend]="barChartLegend" [chartType]="barChartType"></canvas>
        </div>
        <div style="display: block" *ngIf="months">
          <canvas baseChart [datasets]="barChartDataMonths" [labels]="barChartLabelsMonths" [options]="barChartOptions"
                  [legend]="barChartLegend" [chartType]="barChartType"></canvas>
        </div>
      </div>
    </div>
  </div>

</ng-template>
