<div class="container mt-3 mb-4">

    <h1 class="text-center">Administrateur</h1>

    <div class="row">
        <div class="col-6">
            <h3 class="text-center">Plastique</h3>
            <canvas baseChart [data]="plastiqueData" [labels]="plastiqueLabels" [chartType]="plastiqueType"></canvas>
        </div>
        <div class="col-6">
            <h3 class="text-center">Cannette</h3>
            <canvas baseChart [data]="cannetteData" [labels]="cannetteLabels" [chartType]="cannetteType"></canvas>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 col-xl-12 mt-4">
            <div id="myChart">


                <div class="row">
                    <div class="col-md-4 col-xl-4 mt-4">
                        <div class="card">
                            <button type="button" class="btn btn-outline-primary">Jour</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4 mt-4">
                        <div class="card">
                            <button type="button" class="btn btn-outline-primary">Semaine</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4 mt-4">
                        <div class="card">
                            <button type="button" class="btn btn-outline-primary">Mois</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12 col-xl-12">
                    <div class="card">
                        <p class="text-center p-3">Borne</p>
                        <div class=" ml-3 mr-3 mb-3">
                            <p>
                                <ngb-progressbar type="success" [value]="25" [striped]="true" [animated]="true">
                                    <i>25%</i>
                                </ngb-progressbar>
                            </p>
                            <p>
                                <ngb-progressbar type="success" [value]="50" [striped]="true" [animated]="true">
                                    <i>50%</i>
                                </ngb-progressbar>
                            </p>
                            <p>
                                <ngb-progressbar type="success" [value]="75" [striped]="true" [animated]="true">
                                    <i>75%</i>
                                </ngb-progressbar>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-xl-6">
                    <div class="card">
                        <p class="text-center p-3">Coupon</p>
                        <div class=" ml-3 mr-3 mb-3">
                            <p>
                                <ngb-progressbar type="success" [value]="50" [striped]="true" [animated]="true">
                                    <i>50%</i>
                                </ngb-progressbar>
                            </p>
                            <p>
                                <ngb-progressbar type="success" [value]="50" [striped]="true" [animated]="true">
                                    <i>50%</i>
                                </ngb-progressbar>
                            </p>
                            <p>
                                <ngb-progressbar type="success" [value]="50" [striped]="true" [animated]="true">
                                    <i>50%</i>
                                </ngb-progressbar>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6">
                    <div class="card">
                        <p class="text-center p-3">Rouleau</p>
                        <div class=" ml-3 mr-3 mb-3">
                            <p>
                                <ngb-progressbar type="info" [value]="50" [striped]="true" [animated]="true"><i>50%</i>
                                </ngb-progressbar>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


