<div class="wrapper">

    <nav class="sidebar" [ngbCollapse]="isCollapsed">
        <div class="sidebar-header">
            <h3>SMART BORNE</h3>
        </div>

        <ul class="list-unstyled components text-center">
            <li>
                <a class="asidebar" [routerLink]="['bornes']">Borne</a>
            </li>
            <li>
                <a class="asidebar" [routerLink]="['clients']">Client</a>
            </li>
            <li>
                <a class="asidebar" href="#">Offre</a>
            </li>
        </ul>

    </nav>

    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-color">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseSidebar" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span> Réduire menu</span>
                </button>

                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupport" aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupport">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-primary" id="dropdownnavabar" ngbDropdownToggle>Profile User testUser</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownnavabar">
                                    <button ngbDropdownItem>Action - 1</button>
                                    <button ngbDropdownItem>Another Action</button>
                                    <button ngbDropdownItem>Something else is here</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <router-outlet></router-outlet>

    </div>
</div>
