<div class="wrapper fixed">
  <nav class="sidebar" [ngbCollapse]="isCollapsed">
    <div class="sidebar-header text-center">
      <h3 class="sizeTitleHeader">{{profile?.role}}</h3>
    </div>
    <ul class="list-unstyled components text-center mt-5">
      <li>
        <a class="asidebar pt-4 pb-4" [routerLink]="profile?.role == 'ADMINISTRATEUR' ? ['/dashboard'] : ['/client/' + profile?.clients[0]._id]" routerLinkActive="active-link">Accueil</a>
      </li>
      <li>
        <a class="asidebar pt-4 pb-4" [routerLink]="['/bornes']" routerLinkActive="active-link">
          <span *ngIf="profile?.role == 'ADMINISTRATEUR'">Bornes</span>
          <span *ngIf="profile?.role == 'CLIENT'">Mes bornes</span>
        </a>
      </li>
      <li>
        <a class="asidebar pt-4 pb-4" [routerLink]="['/offers']" routerLinkActive="active-link">
        <span *ngIf="profile?.role == 'ADMINISTRATEUR'">Offres</span>
        <span *ngIf="profile?.role == 'CLIENT'">Mes offres</span></a>
      </li>
      <ng-container *ngIf="profile?.role == 'ADMINISTRATEUR'">
        <li>
          <a class="asidebar pt-4 pb-4" [routerLink]="['/clients']" routerLinkActive="active-link">Clients</a>
        </li>
        <li>
          <a class="asidebar pt-4 pb-4" [routerLink]="['/maintenance']" routerLinkActive="active-link">Maintenance</a>
        </li>
      </ng-container>
    </ul>
  </nav>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-color">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseSidebar" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span *ngIf="!isCollapsed"> Réduire le menu</span>
          <span *ngIf="isCollapsed"> Ouvrir le menu</span>
        </button>
        <h4 class="title-center-smartborne">SMART BORNE</h4>
        <div class="admin">
          <div ngbDropdown class="right d-inline-block">
            <button class="btn btn-info" id="dropdown" ngbDropdownToggle>
              {{profile?.username}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown">
              <ng-container *ngIf="profile?.role == 'ADMINISTRATEUR'">
                <a ngbDropdownItem [routerLink]="['/dashboard/user']">Gérer les
                  utilisateurs
                </a>
                <div class="dropdown-divider"></div>
              </ng-container>
              <a ngbDropdownItem [routerLink]="[]" (click)="logout()">Déconnexion</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
