<div *ngIf="offer" class="container mt-3 mb-4">


    <h1 class="text-center">Offre {{ offer._id }}</h1>
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="text-center">Coupons imprimés :</h3>
            <canvas baseChart [data]="couponsData" [labels]="couponsLabels" [chartType]="couponsType"></canvas>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 col-xl-12 mt-4">


            <div class="row">
                <div class="col-md-4 col-xl-4 mt-4">
                    <div class="card">
                        <button type="button" class="btn btn-outline-primary">Jour</button>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 mt-4">
                    <div class="card">
                        <button type="button" class="btn btn-outline-primary">Semaine</button>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 mt-4">
                    <div class="card">
                        <button type="button" class="btn btn-outline-primary">Mois</button>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 col-xl-4 mt-4">
                    <div class="card">
                        <p class="text-center p-3">Début de l'offre : {{offer.debutOffre}}</p>
                        <p class="text-center p-3">Total remisé : {{ offer.totalRemise }}
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-xl-8 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-center"></h2>
                            <p>Remise : {{offer.remise}} </p>
                            <p>Proposée par client : {{offer.client}} </p>
                            <p>Présente sur les bornes : {{offer.bornes}} </p>
                            <p>Détails : {{offer.details}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="user?.role == 'ADMINISTRATEUR'">
                <button class="btn btn-info btn-block mt-4" [routerLink]="['/offer', offer._id, 'edit']">Modifier
                    l'offre
                </button>
                <button class="btn btn-danger btn-block mt-4" (click)="deleteOffer(offer._id)">Suppression du
                    Client
                </button>
            </ng-container>

        </div>
    </div>


</div>
