<div class="container-fluid mb-5">

  <div class="row">


    <div class="col-xl-12 col-lg-12">

      <div>

          <div class="mb-3 card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="borneForm">

              <div class="row">

                <div class="col-12">
                  <div class="form-group">
                    <input [ngClass]="borneForm.get('numeroSerie').errors ? 'is-invalid' : 'is-valid'"
                      class="form-control" placeholder="Numéro de série" name="numeroSerie" type="text"
                      formControlName="numeroSerie">

                  </div>
                </div>

              </div>

              <div class="row" formGroupName="address">
                <div class="form-group col-2">
                  <input [ngClass]="borneForm.get('address').get('numero').errors ? 'is-invalid' : 'is-valid'"
                    class="form-control" placeholder="Numéro de rue" name="numero" type="text" formControlName="numero">
                </div>
                <div class="form-group col-4">
                  <input [ngClass]="borneForm.get('address').get('rue').errors ? 'is-invalid' : 'is-valid'"
                    class="form-control" placeholder="Nom de rue" name="rue" type="text" formControlName="rue">
                </div>
                <div class="form-group col-2">
                  <input [ngClass]="borneForm.get('address').get('codePostal').errors ? 'is-invalid' : 'is-valid'"
                    class="form-control" placeholder="Code postal" name="codePostal" type="text"
                    formControlName="codePostal">
                </div>
                <div class="form-group col-4">
                  <input [ngClass]="borneForm.get('address').get('ville').errors ? 'is-invalid' : 'is-valid'"
                    class="form-control" placeholder="Ville" name="ville" type="text" formControlName="ville">
                </div>

              </div>
              <div class="row">

                <div class="col">
                  <div class="form-group">
                    <input [ngClass]="borneForm.get('dateInstallation').errors ? 'is-invalid' : 'is-valid'"
                      class="form-control" placeholder="Date d'installation" name="dateInstallation" type="date"
                      formControlName="dateInstallation">
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <input [ngClass]="borneForm.get('styliseeClient').errors ? 'is-invalid' : 'is-valid'"
                      class="form-control" placeholder="Stylisée par client" name="styliseeClient" type="text"
                      formControlName="styliseeClient">
                  </div>
                </div>

              </div>


              <div class="row">

                <div class="col">
                  <div class="form-group">
                    <textarea [ngClass]="borneForm.get('details').errors ? 'is-invalid' : 'is-valid'"
                      class="form-control" placeholder="Détails supplémentaires" maxlength="300" name="details"
                      type="text" formControlName="details"></textarea>
                    <small class="float-right">300 caractères maximum</small>
                  </div>
                </div>

              </div>


              <button class="btn btn-success btn-block mt-4 mb-1" type="submit"
                [disabled]="!borneForm.valid">Sauvegarder
              </button>

            </form>
          </div>
      </div>


    </div>
  </div>
</div>