.container {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

::placeholder {
    text-align: center;
}

input{
    margin-top: 10px;
}

.btn-info {
  background-color: #236863;
  border: 1px solid #236863 !important;
}

button {
  box-shadow: 4px 4px 10px black;
}